body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: rgba(68, 203, 255, 0.5);
  font-size: 18px;
  padding: 0 5px;
  font-family: "Dank Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 768px) {
  code {
    font-size: 16px;
  }
}

code.code-block {
  box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  width: 100%;
  padding: 15px 0px;
  padding-left: 15px;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #44CBFF;
}

a:visited {
  color: #44CBFF;
}
