body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: rgba(68, 203, 255, 0.5);
  font-size: 18px;
  padding: 0 5px;
  font-family: "Dank Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 768px) {
  code {
    font-size: 16px;
  }
}

code.code-block {
  box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  width: 100%;
  padding: 15px 0px;
  padding-left: 15px;
  border-radius: 3px;
}

a {
  text-decoration: underline;
  color: #577392;
}

a:visited {
  color: #577392;
}

/** For Animations **/
.song-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 25%;
  display: flex;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-song-div {
  width: 45vw;
}

.spotify-closed-widget {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 25%;
  border-radius: 5px;
}

.spotify-closed-widget:hover {
  background-color: #F1F1F1;
  transition: 0.3s;
}

@media screen and (max-width: 1180px) {
  .song-details, .spotify-closed-widget {
    padding: 20px 15%;
  }
  .main-song-div {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .song-details, .spotify-closed-widget {
    padding: 20px 5%;
  }
  .main-song-div {
    width: 70vw;
  }
}
